<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h5>
    Welcome to {{ title }}!
  </h5>
</div>
<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Address</td>
  </tr>
  <tr *ngFor="let a of cart">
    <td>{{ a.Id }}</td>
    <td>{{ a.Name }}</td>
    <td>{{ a.Address }}</td>
  </tr>
</table>
<br>

<div>
<button (click)="AddStudent()">Add</button>
<button (click)="AddStudentList()">Add List</button>
<button (click)="UpdateStudentList()">Update Record</button>
<button (click)="RemoveStudent()">Remove</button>
<button (click)="ResetStudent()">Reset</button>
</div>